.DS_Store
.xcuserdata
*.xcuserstate
build/
DerivedData/
*.swp
*.log

# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata

# SwiftPM
.build/
Packages/
Package.resolved
.swiftpm/

# CocoaPods/Carthage
Pods/
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
