<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>FitMeApp</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>UILaunchStoryboardName</key>
    <string></string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIAppFonts</key>
    <array>
        <string>MaterialSymbolsOutlined.ttf</string>
        <string>MaterialSymbolsRounded.ttf</string>
        <string>Nunito-Regular.ttf</string>
        <string>Nunito-Medium.ttf</string>
        <string>Nunito-SemiBold.ttf</string>
        <string>Nunito-Bold.ttf</string>
        <string>Quicksand-Regular.ttf</string>
        <string>Quicksand-Medium.ttf</string>
        <string>Quicksand-SemiBold.ttf</string>
        <string>Quicksand-Bold.ttf</string>
        <string>PlusJakartaSans-Regular.ttf</string>
        <string>PlusJakartaSans-Medium.ttf</string>
        <string>PlusJakartaSans-SemiBold.ttf</string>
        <string>PlusJakartaSans-Bold.ttf</string>
    </array>
</dict>
</plist>
